@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
body {
  background:#011627;
  color:#b6ddea;
  font-size:14px;
  font-family: Silkscreen, Consolas, Arial, Helvetica, sans-serif;
}

.no-highlight {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.xcolor {
  color:#0f0
}

.ocolor {
  color:#ff0
}

.dcolor {
  color:#fff
}



.upper {
  text-transform: uppercase;
}

.statusMessage {
  text-align: center;
  font-size: 20px;
}

.winMessage {
  font-size: 70px;
  color:#fff
}

.fadefast {
  opacity: 0;
  animation: fadeIn 0.2s forwards; /* animation duration 0.5 seconds */
}

.fadeslow {
  opacity: 0;
  animation: fadeIn 3s forwards; /* animation duration 0.5 seconds */
}

.zoomfast {
  animation: zoomIn 0.2s forwards; /* Adjust the duration as needed */
}

.zoomslow {
  animation: zoomIn 3s forwards; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#logo {
  max-width:600px;
  margin:60px auto
}

#logo img {
  width:100%
}

.menu ul {
  list-style:none;
  margin:0 auto;
  text-align:center;
  max-width:300px
}

.menu li a {
  display:block;
  background:#01192d;
  padding:10px;
  color:#b6ddea;
  text-decoration:none;
  font-size:16px;
  text-transform:uppercase;
  margin:10px 0;
  border:solid 5px #b6ddea0d
}

.menu li a:hover {
  border:solid 5px #e5bf00;
  color:#e5bf00;
  background:#042744;
}

#gameboard {
  width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 120px); /* 3 columns of 80px each */
  gap: 3px; /* space between grid items */
}

#gameboard .spot {
  background: #041b2e;
  width: 120px;
  height: 120px;
}

#gameboard .spot img {
  width: 100%;
  padding: 5px;
}

#gameboard .spot:hover {
  background: #062137;
  cursor: pointer;
}

#scoreBoard {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  gap: 10px;               /* optional: adds spacing between boxes */
  margin:20px 0
}

#scoreBoard .scoreBox {
  background:#001c2d;
  padding:7px 10px 10px;
  font-size:16px;
  font-weight:bold
}

.scores {
  text-align:center
}

button {
  background:#01192d;
  padding:10px;
  color:#b6ddea;
  text-decoration:none;
  font-size:16px;
  text-transform:uppercase;
  margin:10px 5px;
  border:solid 5px #b6ddea0d;
  font-family: Silkscreen, Consolas, Arial, Helvetica, sans-serif;
}

button:hover {
    border:solid 5px #e5bf00;
  color:#e5bf00;
  background:#042744;
  cursor:pointer
}

#footer {
  font-size:10px;
  color:#4aa7f438;
  padding:40px 0;
  margin:50px 0 0;
  text-align:center
}

#footer a {
  color:#4aa7f44a;
  text-decoration:none
}

#footer a:hover {
  text-decoration:underline
}